#about {
  position: relative;
  padding-top: 0;

  p {
    font-family: 'Space Mono', monospace;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.6;
    margin: 0;
    text-align: justify;
  }
}
