@use 'colors';
@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Space+Mono&display=swap');

body {
  background-color: colors.$accent-color;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
}

#root {
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
}

main {
  background-color: colors.$grey-dark;
  height: 90%;
  position: relative;
}

// TODO: delete this wireframe renderer
canvas {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 10;
}

.container {
  padding: 3em;

  & > div {
    margin: auto;
    max-width: 1280px;
  }
}
