@use 'colors';

@keyframes emitter-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(72deg); }
}

#awards {
  display: grid;
  grid-template-columns: auto 1fr;
  font-size: 1.5em;

  .emitter {
    aspect-ratio: 1 / 1;
    background-color: colors.$grey-dark;
    color: colors.$accent-color;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    height: 100%;

    span.enter {
      animation: emitter-spin 0.5s ease;
    }
  }

  ul {
    display: grid;
    margin: 0;
    padding: 0;
    overflow: hidden;

    li {
      border: dashed white;
      border-width: 0 4px;
      grid-area: 1 / 1;
      justify-self: start;
      list-style: none;
      transition: transform 0.5s ease, opacity 0.5s ease;

      &.enter {
        opacity: 0;
        transform: translateX(-100%);
      }

      &.shown {
        opacity: 1;
        transform: translateX(0);
      }

      &.exit {
        opacity: 0;
        transform: translateY(100%);
      }

      &.idle {
        opacity: 0;
        transform: translateX(-100%);
        visibility: hidden;
      }
    }
  }

  a {
    background-color: white;
    color: colors.$grey-dark;
    display: flex;
    flex-direction: column;
    padding: 1em;
    text-decoration: none;

    &:hover {
      color: colors.$accent-color;
    }

    small {
      color: colors.$grey-medium;
      display: block;
    }
  }
}
