@use 'colors';

#experience {
  margin: 6em auto;

  & > div {
    line-height: 1;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: start;
    gap: 2em;

    @media (max-width: 640px) {
      grid-template-columns: 1fr;

      .blob:first-child {
        grid-column: 1;
      }
    }
  }

  .blob {
    &:first-child {
      grid-column: 1 / -1;
    }

    &:not(:first-child) {
      strong {
        font-size: 40px;
      }
    }
  }

  h3 {
    font-size: 28px;
  }

  strong {
    color: colors.$grey-dark;
    display: block;
    font-size: 64px;
    line-height: 1;
    font-family: "Rubik Bubbles", system-ui;
    font-weight: 400;
    font-style: normal;
  }

  span {
    color: colors.$grey-light;
    display: block;
    font-size: 16px;
    font-family: 'Space Mono', monospace;
    font-style: normal;
    text-transform: uppercase;
  }

  aside {
    background-color: colors.$grey-light;
    display: inline-block;
    padding: 2em;
    border-radius: 3em;
    width: fit-content;

    h3 {
      color: colors.$grey-dark;
      margin-top: 0;

      strong {
        color: colors.$accent-color;
      }
    }
  }

  ul {
    font-size: 22px;
    color: colors.$accent-color;
    list-style: none;
    margin: 0;
    padding-left: 1.5em;

    li {
      line-height: 1.5;
      margin: 0;
      padding: .3em .5em;

      &::marker {
        content: '★';
      }
    }
  }

  a {
    border-radius: 3px;
    color: colors.$grey-dark;
    padding: .3em .5em;
    text-decoration: none;
    transition: all 250ms ease-in-out;

    &:hover {
      background-color: colors.$accent-color;
      color: white;
    }
  }

}