@use 'colors';

#experience {
  margin: 4em auto;

  @media (min-width: 640px) {
    margin: 6em auto;
  }

  & > div {
    line-height: 1;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em;

    @media (min-width: 640px) {
      grid-template-columns: auto auto;
      justify-content: space-between;
      align-items: start;
    }
  }

  .blob {
    &:first-child {
      @media (min-width: 640px) {
        grid-column: 1 / -1;
      }
    }

    &:not(:first-child) {
      strong {
        font-size: clamp(1.75rem, 7vw, 2.5rem);
      }
    }
  }

  h3 {
    font-size: clamp(1rem, 3.5vw, 1.75rem);
    overflow-wrap: break-word;
  }

  strong {
    color: colors.$grey-dark;
    display: block;
    font-size: clamp(2rem, 9vw, 4rem);
    line-height: 1;
    font-family: "Rubik Bubbles", system-ui;
    font-weight: 400;
    font-style: normal;
    overflow-wrap: break-word;
  }

  span {
    color: colors.$grey-light;
    display: block;
    font-size: clamp(0.7rem, 2.5vw, 1rem);
    font-family: 'Space Mono', monospace;
    font-style: normal;
    text-transform: uppercase;
  }

  aside {
    background-color: colors.$grey-light;
    display: inline-block;
    padding: 1.5em;
    border-radius: 3em;
    width: fit-content;

    @media (min-width: 640px) {
      padding: 2em;
    }

    h3 {
      color: colors.$grey-dark;
      margin-top: 0;

      strong {
        color: colors.$accent-color;
      }
    }
  }

  ul {
    font-size: clamp(1rem, 4vw, 1.375rem);
    color: colors.$accent-color;
    list-style: none;
    margin: 0;
    padding-left: 1.5em;

    li {
      line-height: 1.5;
      margin: 0;
      padding: .3em .5em;

      &::marker {
        content: '★';
      }
    }
  }

  a {
    border-radius: 3px;
    color: colors.$grey-dark;
    padding: .3em .5em;
    text-decoration: none;
    transition: all 250ms ease-in-out;

    &:hover {
      background-color: colors.$accent-color;
      color: white;
    }
  }

}
