@use 'colors';

footer {
  background-image: linear-gradient(180deg, transparent, colors.$grey-light);
  color: colors.$grey-dark;
  position: relative;
  text-align: center;

  img {
    border: 6px solid white;
    border-radius: 50%;
    image-rendering: pixelated;
    width: 128px;
    height: 128px;
  }

  p {
    font-size: 18px;
  }

  strong {
    color: colors.$accent-color;
  }

  span {
    color: white;
    display: block;
    margin: 2em auto;
  }

  a {
    border-radius: 3px;
    color: colors.$grey-medium;
    font-size: 12px;
    padding: .3em .5em;
    text-decoration: none;
    transition: all 250ms ease-in-out;

    &:hover {
      background-color: white;
      color: colors.$accent-color;
    }
  }
}
