@use 'colors';

header {
  position: relative;

  &.container {
    padding-bottom: 0;
  }

  & > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1.5em 0;
  }

  h1, h2 {
    font-size: 48px;
    font-style: normal;
    margin: 0;
  }

  h2 {
    color: colors.$accent-color;
    font-size: 36px;
    line-height: 2;
  }

  a {
    border-radius: 3px;
    color: colors.$accent-color;
    font-size: 20px;
    margin-right: -.5em;
    padding: .3em .5em;
    text-decoration: none;
    transition: all 250ms ease-in-out;

    &:hover {
      background: colors.$accent-color;
      color: white;
    }
  }
}
