@use 'colors' as *;

@keyframes lava-scroll {
  from { mask-position: 0 0; }
  to   { mask-position: 1400px 0; }
}

.lava-mask {
  animation: lava-scroll 10s linear infinite;
  background-color: $accent-color;
  mask-image: url('/lava-mask.svg');
  mask-size: 1400px 60px;
  mask-repeat: repeat-x;
  position: relative;
  top: -20px;
  transform-origin: top center;
  height: 30px;
  width: 100%;
}
