@use 'colors';

#work {
  color: colors.$grey-dark;
  margin: 9em auto;

  & > div {
    display: flex;
    justify-content: space-between;
  }

  article {
    h2 {
      color: white;
    }

    pre {
      font-family: 'Space Mono', monospace;
      font-style: normal;
      text-transform: uppercase;
    }
  }

  aside {
    border-image: linear-gradient(to bottom, transparent, colors.$grey-dark, transparent) 1 100%;
    border-style: solid;
    border-width: 1px;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    padding-left: 2em;

    h2 {
      color: colors.$grey-light;
    }

    ul {
      color: colors.$grey-light;
      list-style: none;
      padding-left: 1.5em;

      li {
        line-height: 1.5;
        margin: 0;
        padding: .3em .5em;

        &::marker {
          content: '★';
        }
      }
    }

    a {
      border-radius: 3px;
      color: colors.$grey-light;
      padding: .3em .5em;
      text-decoration: none;
      transition: all 250ms ease-in-out;

      &:hover {
        background-color: colors.$grey-dark;
        color: colors.$accent-color;
      }
    }
  }
}
