@use 'colors';

#work {
  color: colors.$grey-dark;
  margin: 6em auto;

  & > div {
    display: flex;
    justify-content: space-between;
  }

  article {
    h2 {
      color: white;
    }

    pre {
      font-family: 'Space Mono', monospace;
      font-style: normal;
      text-transform: uppercase;
    }
  }

  aside {
    h3 {
      color: white;
    }

    ul {
      color: colors.$grey-light;
      list-style: none;
      padding-left: 1.5em;

      li {
        line-height: 1.5;
        margin: 0;
        padding: .3em .5em;

        &::marker {
          content: '★';
        }
      }
    }

    a {
      border-radius: 3px;
      color: colors.$grey-dark;
      padding: .3em .5em;
      text-decoration: none;
      transition: all 250ms ease-in-out;

      &:hover {
        background-color: colors.$grey-light;
        color: colors.$accent-color;
      }
    }
  }
}
