@use 'colors';
@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Space+Mono&display=swap');

body {
  background-color: colors.$accent-color;
  color: white;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  overflow-x: hidden;
}

#root {
  width: 100vw;
  height: 100vh;
}

main {
  background-color: colors.$grey-dark;
  padding: 3em;
  overflow: hidden;
  position: relative;
  height: 77%;
}

.container {
  max-width: 1280px;
  margin: 1.5em auto;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;
  margin: 1.5em auto;

  a {
    color: colors.$accent-color;
    font-size: 20px;
    padding: .3em;
    margin: 0 -.3em;
    display: block;
    position: relative;
    text-decoration: none;
    transition: all 250ms ease-in-out;

    &:hover {
      color: white;
      background: colors.$accent-color;
    }
  }
}

h1, h2 {
  font-size: 48px;
  font-style: normal;
  margin: 0;
}

h2 {
  color: colors.$accent-color;
  font-size: 36px;
  line-height: 2;
}

footer {
  background-color: colors.$grey-light;
  color: colors.$grey-dark;
  padding: 4em;
  // padding-bottom: 8em;
  text-align: center;

  img {
    border: 6px solid white;
    border-radius: 50%;
    width: 120px;
    height: 120px;
  }

  strong {
    color: colors.$accent-color;
  }

  span {
    display: block;
    line-height: 2;
    opacity: 0.3;
  }
}
